body {
    color: var(--factory-color5);
    font-family: var(--font-family__text);
}

/* Buttons */
.button {
    padding: 15px 30px;
    background-color: var(--factory-color3);

    color: var(--factory-color5);
    font: 400 14px/1.4 var(--font-family__action);
    text-decoration: none;
    text-transform: uppercase;

    transition: var(--base-animation);
    cursor: pointer;
}

.button:hover {
    background-color: var(--factory-color4);
}

/* Button Modificators */
/* ===================================================================================== */
.button--bordered {
    border: 2px solid var(--factory-color5);
}

.button--bordered:hover {
    background-color: var(--factory-color5);
    color: var(--factory-color1);
}
/* ===================================================================================== */
.button--light {
    background-color: var(--factory-color1);
}

.button--light:hover {
    background-color: var(--factory-color2);
}
/* ===================================================================================== */

.button--dark {
    color: var(--factory-color1);
    background-color: var(--factory-color5);
}

.button--dark:hover {
    color: var(--factory-color5);
    background-color: var(--factory-color1);
}
/* ===================================================================================== */
.button--transparent {
    background-color: transparent;
}
/* ===================================================================================== */

/* Links */
.link {
    font: 400 14px/1.4 var(--font-family__action);
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
}

/* ===================================================================================== */

/* Icons */
.icon { position: relative }
.icon:before { font-family: var(--font-family__icons); }

.icon--normal:before {
    content: var(--icon-quotes);
    color: var(--factory-color3);
    font-size: 37px;
}

.icon--bigger {
    color: var(--factory-color1);
    font-size: 35px;
}

/* ====================================================================================== */

/* Titiles */
h1 {
    font: 59px var(--font-family__title);
}

h2 {
    font: 40px var(--font-family__title);
}

h3 {
    font: 22px var(--font-family__title);
}

h4 {
    font: 20px var(--font-family__title);
}
/* ====================================================================================== */

.box {
    max-width: 1200px; /* 1200px go to some variable */
    margin: 0 auto;
    padding: 20px 30px;
}

