.contact .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact .second-title {
    max-width: 280px;
    font-size: 35px;
    line-height: 1.2;
}

.contact .buttons {
    margin: 25px auto;
}
